.body {
    /*background-image: url('../images/Season4/background.JPG'); /* The image used
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
    color: black;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */  
    font-family: "Caveat", cursive; 
  }

.intro {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.welcomeMsg{
    font-size: 12px;
    display: flex;
    justify-content: center;

}

.personalMsg{
    font-size: 12px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ZCOOL XiaoWei", sans-serif;
}

.players {
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;

}

.playerContainer{
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .playerStatus{
        justify-content: center;
        align-items: center;
    }

}


.avatarContainer {
    font-family: "Caveat", cursive;
    font-size: 16px;

    .avatarIcon{
        float: left
    }
    .avatarStatus{
        margin-top: 20px

    }
}

.avatar1 div:hover{
    transform: scale(1.1);
}

.avatar2 div:hover{
    transform: scale(1.1);
}


@media only screen and (max-width: 480px) {
    .players {
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    }



    .avatarContainer {
        font-family: "Caveat", cursive;
        font-size: 16px;
    
        .avatarIcon{
            float: left
        }
        .avatarStatus{
            margin-top: 20px
    
        }
    }
}

@keyframes circleMove { 
    0% { 
        transform: rotate(0deg)  
            translateX(100px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(-360deg)  
            translateX(100px) rotate(360deg); 
    } 
} 




