.AvatarGroup{
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.AvatarGroupColumn{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: Monospace;
    font-size: 13px;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.avatar1{
    padding-right: 30px;

}


@keyframes avatarAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.questionIcon{
    display: flex;
    justify-content: center;
}

.SeasonTitle {
    display: flex;
    justify-content: center;
    font-family: cursive;;
    font-size: 18px;
    padding-bottom: 3%;
    font-weight: bold;
}

.words{
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 13px;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 1%;
    color: black;
    text-shadow: 2px 1.5px 8px white;
}

.evolution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Podium img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 30%; 
}
.Season2Ranking  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 38%;
    margin-right: 38%;
    margin-bottom: -11% ;
}

#season2Rank2 {
    margin-top: 45%;
    width: 150px
}

#season2Rank1 {
    width: 230px
}

#season2Rank3 {
    margin-top: 50%;
    width: 200px;    
}

.Season2Ranking img {
    margin-top: 30%;
    width: 100%;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

@media only screen and (max-width: 480px) {
    .Podium img{      
        width: 300px; 
        margin-top: -10%;
    }

    .Season2Ranking  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 19%;
        margin-right: 19%;
        margin-bottom: -20% ;
    }
    
    #season2Rank2 {
        width: 30%;
        margin-bottom: 10%;
        
    }
    
    #season2Rank1 {
        width: 50%
    }
    
    #season2Rank3 {
        width: 45%
    }
    
    .Season2Ranking img {
        width: 100%;
        margin-bottom: -30%;
    }
  }